body {
    /*background-color:#001515;*/
}
  
h1 {
    /*color: white;*/
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
p {
    /*color: white;*/
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#tempChart {
    width:100%;
    max-width:600px
}